<?xml version="1.0" encoding="ISO-8859-1"?>

<jboss-web>
	<security-domain>userroles</security-domain>
</jboss-web>
<context-param>
		<param-name>resteasy.role.based.security</param-name>
		<param-value>true</param-value>
</context-param>

<security-constraint>
	<web-resource-collection>
		<web-resource-name>REST Resources</web-resource-name>
		<url-pattern>/api/*</url-pattern>
	</web-resource-collection>
</security-constraint>

<security-role>
	<role-name>RestaurantOwner</role-name>
</security-role>
<security-role>
	<role-name>Customer</role-name>
</security-role>
<security-role>
	<role-name>Runner</role-name>
</security-role>


<security-constraint>
    <web-resource-collection>
        <web-resource-name>All resources</web-resource-name>
        <url-pattern>/api/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
	    <!-- TODO add roles -->
	    <role-name>RestaurantOwner</role-name>
	    <role-name>Customer</role-name>
        <role-name>Runner</role-name>
    </auth-constraint>

</security-constraint>

<login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>ApplicationRealm</realm-name>
</login-config>

